/* .create-elem {
    width: 30px;
    height: 30px;
    border: 1px solid inherit;
}


.wraper {
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;
    padding: 8px;
    gap: 10px;
    width: 250px;
    height: auto;
    border: 1px solid black;

} */